body {
   box-sizing : border-box;
   margin: 40px 250px 40px 250px;
   padding: 0;
   height: 1200px;
}

li {list-style: none;}

hr {
   margin-top: 40px;
   border: none;
   border-top: 5px dotted #333;
   color: #333;
   width: 80%;
   text-align: center;
}

/* 부모 flexBox */
#container {
   display: flex;
   flex-direction: row;
   height: 1200px;
}

/* 왼쪽 flexBox */
#leftContainer {
   display: flex;
   flex-direction: column;
   flex-grow: 1.5;
   text-align: center;
   background-color: #3B9DFF;
}

#leftContainer  p {
   color: white;
}

/* 프사 영역의 li width 값 */
#leftContainer li:first-child {
   flex-grow: 0.5;
}

/* li 나머지 width 값 
   A B는 A 내부의 모든 B를 선택합니다 .*/
#leftContainer li {
   flex-grow: 1;
}

/* 프사 글씨 아래 
   A ~ B 는 A 다음에 오는 모든 B 를 선택합니다 */
#leftContainer li:nth-child(1) p~p{
   font-size: 20px;
   margin-top: 10px;
}

/* 프사 글씨 위*/
#leftContainer li:nth-child(1) p {
   font-size: 30px;
   font-weight: bold;
}

/* 프로필 로고 아이콘 */
#logo {
   background-color: white;
   border-radius: 100%;
   padding: 20px;
   width: 110px;
   margin: 40px 0 25px 0;
}

#leftContainer .circle:hover {
   cursor: pointer;
   background-color: palegoldenrod;
   transition: transform 0.3s;
   transform: scale(1.2,1.2);
}
#rightContainer .circle:hover {
   cursor: pointer;
   background-color: palegoldenrod;
   transition: transform 0.3s;
   transform: translateY(-15px);
}

/* 아이콘 */
.circle {
   border-radius: 45%;
   background-size: cover;
   background-color: #a1d3ff;
   padding: 10px;
   margin-bottom: 10px;
   width: 50px;
}

/* 아이콘 글씨 */
.left_icon_font {
   padding: 3px;
   font-size: 15px;
   font-weight: bold;
}

/* 오른쪽 flexBox */
#rightContainer {
   display: flex;
   flex-direction: column;
   text-align: center;
   flex-grow: 2;
}

/* 오른쪽 flexBox 모든 요소 */
#rightContainer > *{margin-bottom: 50px;}

/* 오른쪽 flexBox 모든 li */
#rightContainer li {
   margin-top: 10px;
}


/* header */
#rightContainer header {
   margin-top: 50px;
   font-size: 70px;
}

/* button 
   A> B 는 직계 자녀 인 모든 B 를 선택합니다 . */
#rightContainer > button {
   margin: 40px 10px 50px 70px; /* 위 오 아 왼 */
   width: 80%;
   border-radius: 50px;
   background-color: white;
   font-size: 25px;
   border: 3px solid #3B9DFF;
}

/* 프로필 flexBox-row */
#profile{
   display: flex;
   flex-direction: row;
}

/* 생년월일, 전공 */
#profile > li {
   margin-left: 75px;
}

/* 개발 경험 flexBox-column */
#devEx {
   display : flex;
   flex-direction: column;
}

#devEx li{
   margin-left: 75px;
   margin-bottom: -10px;
   text-align: left;
}


#character {
   display: flex;
   flex-direction: row;
   flex-grow: 1;
   text-align: center;
}

#character > li{
   flex-grow: 1;
}

/* 폰트 굵기 */
.bold {
   font-size: 20px;
   font-weight: bold;
}

/* 💡 */
.custom_li:before {
   content : "💡 ";
   vertical-align: middle;
   font-size: 25px;
}
#map {
   opacity: 0; /* 투명도 기본값 1 작은 숫자로 갈수록 투명해진다 */
   position: absolute;
   top: 11%;
   left: 25.5%;
   width:50%;
   height:50%;
}
